<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title style="margin-right:50px;" class="title" class="ion-text-center">
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding animated fadeIn login auth-page">
  <div>
    <p>
      Butchery locator is an online platform that helps farmers to locate the nearest butcheries and sell their livestock.
    </p>
  
    <p>
      It shows the locations of nearest butcheries in your area and also the contact details of the butcheries.
    </p>
  
    <p>
      Butcheries can login into the platform and create order requests for what they are looking for. E.g a butchery can
      request that they want 50kg of beef, or pork or 100 chickens, in return the farmers will contact the butcheries.
    </p>
  </div>
</ion-content>