<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title style="margin-right:50px;" class="title" class="ion-text-center">
      Contact Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding animated fadeIn login auth-page">

  <ion-img src="assets/imgs/phone.png"></ion-img>

  <h2>Don't hesitate to contact us</h2>

  <h2>Address</h2>
  <ion-label>
    <ion-icon name="albums" color="primary"></ion-icon> <a>
      Butchery locator
      Harare
    </a>
  </ion-label><br>
  <hr>

  <ion-label>
    Phone:
    <ion-icon name="phone-portrait" color="primary"></ion-icon><a href="tel: +263775078468">+263775078468</a>
  </ion-label>

  <ion-label style="margin-top: 2%;">
    Call Us:
    <ion-icon name="call" color="primary"></ion-icon> <a href="tel: +263775078468">+263775078468</a>
  </ion-label>

  <h2>Send us an Email</h2>
  <ion-label>
    Email:
    <ion-icon name="chatbubbles" color="primary"></ion-icon> <a
      href="mailto:butcherylocator@gmail.com">butcherylocator@gmail.com</a>
  </ion-label>

  <h2>Visit Our Website</h2>
  <ion-label>
    Website:
    <ion-icon name="globe" color="primary"></ion-icon> <a href="https://www.butcherylocator.co.zw/"
      target="_blank">https://www.butcherylocator.co.zw/</a>
  </ion-label>

  <h2>Like us on Facebook</h2>
  <ion-label>
    Facebook
    <ion-icon name="film" color="primary"></ion-icon> <a target="_blank"
      href="https://www.facebook.com/butcherylocator/">butcherylocator</a>
  </ion-label>

  <h2>Follow us on Twitter</h2>
  <ion-label>
    Twitter
    <ion-icon name="ticket" color="primary"></ion-icon> <a target="_blank"
      href="https://twitter.com/butcherylocator">@butcherylocator</a>
  </ion-label>
</ion-content>